<div class="row">
  <div class="col-md-12">

      <% @likes.where(:user_id => current_user.id).each do |mylike| %>
      <tr>
        <td><%= Photo.find(mylike.photo_id).image %></td>
        <td><%= Photo.find(mylike.photo_id).caption %></td>
        <td><%= Photo.find(mylike.photo_id).likes %></td>
        <td><%= Photo.find(mylike.photo_id).comments %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
